<div class="home">
  <div class="rodape">
    <div class="rectangle-2" ></div>
    <p class="text-1">Sistema desenvolvido para a disciplina Frameworks Web
do Curso Pos Java UTFPR</p>
  </div>
  <div class="cabecalho">
    <div class="rectangle-1" ></div>
    <p class="text-2">Controle de Propostas</p>
    <img src="" />
  </div>
  <div class="rectangle-5"></div>
  <p class="text-4">2022-0001</p>
  <p class="text-5">2022-0005</p>
  <p class="text-6">2022-0015</p>
  <p class="text-7">2022-0025</p>
  <p class="text-8">2022-0005</p>
  <p class="text-9">Criar ajuste do XYZ</p>
  <p class="text-1-0">Alterar XYZ</p>
  <p class="text-1-1">Teste do XYZ</p>
  <p class="text-1-2">Teste 2 do XYZ</p>
  <p class="text-1-3">Teste do XYZ</p>
  <p class="text-1-4">Novo</p>
  <p class="text-1-5">Novo</p>
  <p class="text-1-6">Novo</p>
  <p class="text-1-7">Novo</p>
  <p class="text-1-8">Novo</p>
  <p class="text-1-9">Descrição</p>
  <p class="text-2-0">Status</p>
  <div class="select-status">
    <p class="text-2-1">Status:</p>
    <div class="rectangle-3" ></div>
    <div class="polygon-1" ></div>
    <p class="text-2-2">Novo</p>
  </div>
  <p class="text-2-3">Listar Propostas:</p>
  <div class="btn-editar">
    <div class="rectangle-4" ></div>
    <p class="text-2-4">Editar</p>
  </div>
  <div class="btn-editar">
    <div class="rectangle-4" ></div>
    <p class="text-2-5">Editar</p>
  </div>
  <div class="btn-editar">
    <div class="rectangle-4" ></div>
    <p class="text-2-6">Editar</p>
  </div>
  <div class="btn-editar">
    <div class="rectangle-4" ></div>
    <p class="text-2-7">Editar</p>
  </div>
  <div class="btn-editar">
    <div class="rectangle-4" ></div>
    <p class="text-2-8">Editar</p>
  </div>
  <p class="text-2-9">ID</p>
  <p class="text-3-0">.....</p>
  <div class="btn-cad-resp">
    <div class="rectangle-4" ></div>
    <p class="text-3-1">Cadastrar Responsável</p>
  </div>
  <div class="btn-cad-resp">
    <div class="rectangle-4"></div>
    <p class="text-3-2">Cadastrar Proposta</p>
  </div>
</div>
